@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&family=Funnel+Display:wght@300..800&display=swap");

@import "tailwindcss";
@import "@phosphor-icons/web/bold";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */

  /* -- Forest */
  --color-forest-50: #f7faf0;
  --color-forest-100: #edf5db;
  --color-forest-200: #ddeeb4;
  --color-forest-300: #d0ee89;
  --color-forest-400: #b9dd64;
  --color-forest-500: #a3cb43;
  --color-forest-600: #809f37;
  --color-forest-700: #5f7231;
  --color-forest-800: #3c4626;
  --color-forest-900: #1e2117;
  --color-forest-950: #0d0e0c;

  /* -- Sunset */
  --color-sunset-50: #feede9;
  --color-sunset-100: #fddfd7;
  --color-sunset-200: #fcbeaa;
  --color-sunset-300: #fb976d;
  --color-sunset-400: #ef7626;
  --color-sunset-500: #cc641f;
  --color-sunset-600: #a24e16;
  --color-sunset-700: #7a390e;
  --color-sunset-800: #572707;
  --color-sunset-900: #341503;
  --color-sunset-950: #210b01;

  /* Fonts */
  --font-funnel-display: "Funnel Display", monospace;
  --font-dm-sans: "DM Sans", sans-serif;
}

@utility centered-container {
  @apply container m-auto max-w-5xl px-4 md:px-6;
}

@utility glassy-border {
  @apply dark:ring-forest-800 dark:outline-forest-800 dark:border-forest-900/30 border-6 border-white/30 shadow-lg ring ring-olive-300 outline -outline-offset-6 outline-olive-300;
}

@utility flat-border {
  @apply dark:border-forest-800 border border-olive-300;
}

@utility flat-border-with-shadow {
  @apply flat-border shadow-lg;
}

@layer base {
  body {
    @apply font-dm-sans bg-forest-50 dark:bg-forest-900 text-forest-900 dark:text-white;
  }

  p {
    @apply leading-7;
  }

  a:not(.default-style-none) {
    @apply text-sunset-500 hover:text-sunset-600 hover:underline;
  }
}
