---
import type { HTMLAttributes } from "astro/types";

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon?: string;
  variant?: "outline" | "primary";
}

const { icon, id, href, target, variant = "outline" } = Astro.props;
---

<a
  class:list={[
    "flex min-w-40 cursor-pointer items-center justify-center gap-1.5 rounded-full border px-4 py-3 text-center hover:no-underline",
    {
      "bg-forest-50 border-olive-300 hover:border-olive-400":
        variant === "outline",
      "bg-sunset-500 hover:bg-sunset-600 border-transparent text-white":
        variant === "primary",
    },
  ]}
  id={id}
  href={href}
  target={target}
>
  {icon && <div class:list={["ph-bold text-base", `ph-${icon}`]} />}
  <span>
    <slot />
  </span>
</a>
