---
interface Props {
  href: string;
}

const { href } = Astro.props;

const domain = new URL(href).hostname;
---

<div class="flex items-center gap-1 text-sm">
  <i class="ph-bold ph-link text-xs text-olive-600 dark:text-olive-400"></i>
  <a href={href} target="_blank">{domain}</a>
</div>
